{#
/**
 * @file
 * Theme implementation to display study guide block.
 *
 * Available variables:
 * - carousel_data: Carousel Data .
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<div class="modal fade _article_popup_body _article_modal_wrap" id="_article_popup">
	<div class="modal-dialog modal-xl">
		<div class="modal-content _article_popup_content trans">
			<div class="modal-body _article_popup_body">
				<div class="_article_popup_title">
					<span class="_youku_title"></span>
					<span class="float-right">
						<a class="_article_popup_close" data-toggle="modal" data-target="#_article_popup"><i class="fal fa-times"></i></a>
					</span>
				</div>
				<div id="_media_player" class="_media_player_container">
						
				</div>
			</div>
		</div>
	</div>
</div>
