{% set blocks = data.custom_blocks %}
{% set class_to_add =  data.addclass %}

{% for blk in blocks %}
  {% if blk.block_uuid is not empty %}
    {% if 'js-dfp-tag-' in blk.block_uuid|render|render %}
      <script type="text/javascript">
        {% if blk.breakpoints %}
        var mapping = googletag.sizeMapping()
        {% for breakpoint in blk.breakpoints %}
          .addSize({{ breakpoint.browser_size }}, {{ breakpoint.ad_sizes }})
          {% endfor %}
          .build();
        {% endif %}
          googletag.slots["{{ blk.id }}"] = googletag.defineSlot("{{ blk.adUnit }}", {{ blk.size }}, "{{ blk.block_uuid }}")

        {% if blk.clickUrl %}
          .setClickUrl("{{ blk.clickUrl }}")
          {% endif %}
          .addService(googletag.pubads())

          .setTargeting('URL', ['{{ blk.target_url }}'])
          {% if blk.breakpoints %}
          .defineSizeMapping(mapping)
        {% endif %}
        ;
        </script>
    {% endif %}
  {% endif %}
{% endfor %}

<div class="{{class_to_add}} dynamic-block-articles d-none" htmltag="p" beforeafter="after" position="{{ data.paragraph_no }}">

  {% for blk in blocks %}
        {% if blk.block_uuid is not empty %}
          {% if 'js-dfp-tag-' in blk.block_uuid|render|render %}
             <div id="{{blk.block_uuid}}">
               <script class="dfp-ads-inview" dfp-id="{{ blk.block_uuid }}" type="text/html">
                 googletag.cmd.push(function () {
                 googletag.display('{{ blk.block_uuid }}');
                });
               </script>
              </div>
          {% else %}
            {{ drupal_block(blk.block_uuid)}}
          {% endif %}
        {% endif %}
      {% endfor %}

</div>
