 <!-- Modal for Gallery. -->
{# <div class="body_resize_modal d-none">
  <div class="_gallery_popup_title">
    <div class="row">
      <div class="col-lg-12">
        <span class="_gallery_title _gallery_title_jsuniv">&nbsp;</span>
        <span class="float-right _colormobile closeGalleryArticles">
          <a class="_article_popup_close _gallerycloseicon"><i class="fal fa-times"></i></a>
        </span>
      </div>
    </div>
  </div>
  <div class="bodyheader">
    <div class="_media_playerwidthheight _createHTMLDOM_galleryjs" style="text-align:center;">
      <div class="html5gallery-loading" style="display:block;margin:0 auto;width:300px;height:300px;background:url('/themes/custom/tu_d8/js/skins/gallery/loading.gif') no-repeat center center;"></div>
    </div>
  </div>
</div> #}
<!-- Modal for Gallery ends. -->
