{% set clang = getLangCode() %}
{% set joinus = (clang == '') ? data['join_us'] : data['join_us_china'] %}
{% set whyjoin = (clang == '') ? data['why_join'] : data['why_join_china'] %}

<div class="leave_a_comment">
  <div class="col-md-6 col-sm-12 comment_text">
    <div class="test12345">{{ joinus }}</div>
    {% if clang == '' %}
      <h3>{{ data['comment_title'] }}</h3>
      <p>{{ data['comment_description1'] }}</p>
      <p>{{ data['comment_description2'] }}</p>
    {% else %}
      <h3>{{ data['comment_title_china'] }}</h3>
      <p>{{ data['comment_description1_china'] }}</p>
      <p>{{ data['comment_description2_china'] }}</p>   
    {% endif %}
  </div>

  <div class="col-md-6 col-sm-12 comment_ctas">
    <a class="join_us crm_add_comment" data-toggle="modal" data-target="#user-global-reg" data-stab="#user_join_us">{{ joinus }}</a>
      {% if data['site_name'] == 'TopMBA.com' %}
          {% if data['why_join_video'] or data['why_join_video_china'] %}
            {% if clang == '' %}
              {% if data['why_join_video'] %}
              <a class="why_join" data-video="{{data['why_join_video']}}">
              {% else %}
              <a class="why_join uni-det">
              {% endif %}
            {% else %}
              {% if data['why_join_video_china'] %}
              <a class="why_join" data-video="{{data['why_join_video_china']}}">
              {% endif %}
            {% endif %}
                <i class="fal fa-play-circle"></i>
                {{ whyjoin }}
            </a>
          {% endif %}
      {% endif %}

  </div>
</div>

<!-- Modal for Gallery. -->
{# <div class="body_resize_modal d-none">
  <div class="_gallery_popup_title">
    <div class="row">
      <div class="col-lg-12">
        <span class="_gallery_title _gallery_title_jsuniv">&nbsp;</span>
        <span class="float-right _colormobile closeGalleryArticles">
          <a class="_article_popup_close _gallerycloseicon"><i class="fal fa-times"></i></a>
        </span>
      </div>
    </div>
  </div>
  <div class="bodyheader">
    <div class="_media_playerwidthheight _createHTMLDOM_galleryjs" style="text-align:center;">
      <div class="html5gallery-loading" style="display:block;margin:0 auto;width:300px;height:300px;background:url('/themes/custom/tu_d8/js/skins/gallery/loading.gif') no-repeat center center;"></div>
    </div>
  </div>
</div> #}
<!-- Modal for Gallery ends. -->


