{% set build = {
    '#type':   'processed_text',
    '#text':    data['register_free_content']['value'],
    '#format': 'panopoly_wysiwyg_text',
  } %}

{% if data['register_free_content'] %}
  <span class="register-free">
  {{ build }}
  </span>
{% endif %}
