{% if user_image|length >= 1 %}
{% set user_profile_data = qsFetchMemberProfileData(user_image) %}
{% endif %}
  <div class="user-save-article large-for-article">
  {% if user_image is not empty %}
    <ul>
    {% for item in user_image|slice(0,2) %}
      <li>
          {% for value in user_profile_data %}
            {% if item == value["email_address"] %}
              <img src="{{ value['profile_image'] }}" height="42" width="42" />
            {% endif %}
          {% endfor %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if user_image is not empty %}
    <div class="total-user-det">
      <p class="margin-top-require">
        {% if total_value is not empty  %}
          <span class="total_value"> + {{ total_value }} </span>
        {% endif %}
        {% if total_value is empty %}
         {{ "saved this article"|t }}
        {% else %}
         {{"others"|t }} <br>  {{ " saved this article"|t }}
        {% endif %}
      </p>
    </div>
  {% endif %}
</div>

<div class="user-save-article-m">
  {% if user_profile_data is not empty %}
    <ul>
    {% for item in user_image|slice(0,2) %}
      <li>
          {% for value in user_profile_data %}
            {% if item == value["email_address"] %}
              <img src="{{ value['profile_image'] }}" height="42" width="42" />
            {% endif %}
          {% endfor %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if user_profile_data is not empty %}
    <div class="total-user-det">
      <p>
        {% if total_value_m is not empty  %}
          <span class="total_value"> + {{ total_value_m }} </span>
        {% endif %}
        {% if total_value_m is empty %}
          {{ "saved this article"|t }}
        {% else %}
          {{ "others saved this article"|t }}
        {% endif %}
      </p>
    </div>
  {% endif %}
</div>
