<div id="sticky_article_dfp" class="stickydfp" data-dfpposition="{{ data.position_to_display }}" {% if data.type_of_display == 'depth_based' %} data-dfpdepthscroll="{{ data.scroll_depth }}" {% else %} data-dfphidetime="{{ data.time_in_sec }}" {% endif %}>
  {{ drupal_block('dfp_ad:a10e9fb8-5202-498b-a438-9cb2350e676d') }}
</div>
